<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
    <!-- Bootstrap CSS Stylesheet -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <!-- CSS Stylesheet -->
    <link rel="stylesheet" href="/css/nav.css" />
    <!-- Footer Icon CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Comic Font -->
    <link rel="stylesheet" href="https://use.typekit.net/lop6dey.css">
  </head>

  <body class="comic-style-bckgrnd grey-bckgrnd">
        <!-- Header (see views folder) -->
        <header>
          <%- include("./nav-bar"); %>
        </header>

    <!-- <div class="image_container">
      <img class="avenger-img" src="/images/avengers.png" alt="">
      <div class="avenger-img"></div>
    </div> -->
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" >
          <div class="overlay-img" id="img1">
            <img src="/images/avengers.png" class="d-block w-100" alt="picture of the avengers">
          </div>
          <div class="carousel-caption d-none d-md-block">
            <h5 class="char-color">The Avengers</h5>
            <p>Join the avengers as they defend us all against the Multi-Verse's greatest threat yet!</p>
          </div>
        </div>
        <div class="carousel-item">
          <div class="overlay-img" id="img1">
            <img src="/images/hulk1.png" class="d-block w-100" alt="picture of the hulk">
          </div>
          <div class="carousel-caption d-none d-md-block">
            <h5 class="char-color">Hulk</h5>
            <p>Will Bruce Banner be able to control the best within? Find out in the next issue!</p>
          </div>
        </div>
        <div class="carousel-item">
          <div class="overlay-img" id="img3">
            <img src="/images/wolverine.png" class="d-block w-100" alt="picture of the wolverine">
          </div>
          <div class="carousel-caption d-none d-md-block">
            <h5 class="char-color" >Wolverine</h5>
            <p>Can logan regain his lost memories? Lets find out!</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>


    <main class="container">
      <% if(data.length > 0 ){ %>
      <div class="d-flex flex-wrap justify-content-center">
        <% for (let product of data){ %>
        <div class="card m-5" style="width: 18rem">
          <img
            src="<%=product.photo %> "
            class="card-img-top"
            alt="..."
            style="height: 30vh"
          />
          <div class="card-body">
            <h5 class="card-title"><%= product.title %></h5>
            <p class="card-text"><%= product.description %></p>
            <div class="d-flex flex-wrap justify-content-between">
              <a href="#" class="btn btn-warning">Edit</a>
              <a href="#" class="btn btn-danger">Delete</a>
            </div>
          </div>
        </div>
        <% } %>
      </div>
      <% } else { %>
      <h1>No Products Founds!</h1>
      <% } %>
    </main>
    
    <!-- Footer (see views folder) -->
    <footer> <%- include("./footer"); %></footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
